<h1>Dashboard</h1>

<div class="ui grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui cards">
        <div class="yellow card">
          <div class="content">
            <div class="header"></div>
            <div class="meta">Quantidade de itens Pendente(s): </div>
            <div class="description"></div>
              <h3><%= @dashboard['pendente'] %></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui cards">
        <div class="teal card">
          <div class="content">
            <div class="header"></div>
            <div class="meta">Quantidade de itens Completada(s):</div>
            <div class="description"></div>
              <h3><%= @dashboard['completada'] %></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui teal one cards">
        <div>
          <div class="content">
            <div class="header"></div>
            <div class="meta">Tarefas</div>
            <div class="description"></div><br>
              <%= pie_chart @dashboard,
                  colors: ["#f4c430", "#245e71", "#A2F6A2", "#005500"],
                  label: "Tarefas"
              %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
