<br>
<div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment">
      <% if @todo_list.done %>
        <a class="ui green ribbon label">Concluido</a>
      <% else %>
        <a class="ui yellow ribbon label">Pendente</a>
      <% end %>
      <p></p>
      <span>
        <p><strong>Tarefa:</strong></p>
        <%= @todo_list.title %>
      </span>
      <p></p>

      <span>
        <p><strong>Descrição:</strong></p>
        <div class='truncate_description'>
        <%= @todo_list.description %>
        </div>
      </span>
    </div>
  </div>
</div>

<br>
<%= link_to 'Editar', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Voltar', todo_lists_path %>