@cyan : #006064;
@import 'semantic-ui';

.truncate {
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate_description {
	word-wrap: break-word
}

.ui.cyan {
	background-color: #00838f;
	color: #E0F2F1;
}

.ui.menu    .item {
    color: #EDF2F2;
}

ui.yellow {
	background-color: #006064;
	color: whitesmoke;
}
